<br><br>

<%#= form_for Book.new do |form| %>
<%#= form.hidden_field :user_id, value: @user.id %>
    <%#= form.text_field :book_name %> 
    <%#= form.submit %>
<%# end %>

<%= form_for Book.new do |form| %>
    
    <%= form.hidden_field :user_id, value: @user.id %>
    <p>
      <%= form.label :book_name %><br>
      <%= form.text_field :book_name %>
    </p>
    
    <p>
      <%= form.submit %>
    </p>
<% end %>